@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}


@font-face {
    font-family: "Proxima";
    src: url('/public/fonts/Fontspring-DEMO-proximanova-medium.otf');

}
  
@font-face {
    font-family: "ProximaBold";
    src: url('/public/fonts/Fontspring-DEMO-proximanovacond-bold.otf');

}
  